@model List<Customer>

<h1>@ViewData["Title"]</h1>
<h2>Customer Manager</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th><th>Email</th><th>City</th><th></th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var custs in Model)
        {
            <tr>
                <td>@custs.customerFirstName @custs.customerLastName</td>
                <td>@custs.customerEmail</td>
                <td>@custs.customerCity</td>

                <td>

                    <a asp-controller="Customer" asp-action="Edit"  asp-route-slug="@custs.Slug" asp-route-id="@custs.customerId"
                        class="btn btn-primary w-100">
                        Edit
                    </a>
                </td>
                <td>
                    <a asp-controller="Customer" asp-action="Delete" asp-route-slug="@custs.Slug"  asp-route-id="@custs.customerId"
                       class="btn btn-primary w-100" style="color:white;">
                        Delete
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Customer" asp-action="Add" class="btn btn-primary" style="color:white">Add Customer</a>
